.app {
    display: grid;
    grid-template-columns:20% 60% 20%;
    grid-template-rows: 20% 80% 20%;

    grid-template-areas:
            "q w e"
            "b c m"
            "b c m";

}

.topleft {
    grid-area: e;
    border: 1px solid black;
}

.header {
    grid-area: w;
    border: 1px solid black;
}

.logo {
    grid-area: q;
    border: 1px solid black;
}

.main {

    padding: 5px;
    grid-area: c;
    border: 1px solid black;

}

.favorites {
    grid-area: b;
    border: 1px solid black;
}

.left {
    grid-area: m;
    border: 1px solid black;
}